body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F0EEF1;
}

.header {
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 22px;
    margin: 0;
    padding: 10px;
    padding-left: 100px;
    box-shadow: 1px 5px 7px -1px rgba(0, 0, 0, 0.13);
}

.modal {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
}

#submit {
    background-color: #20F06C;
    font-size: 20px;
    font-weight: 500;
    border-style: none;
    height: 40px;
    width: 80%;
    margin-top: 30px;
    color: white;
}

form>input{
    height: 35px;
    width: 80%;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 500;
}


.button-div {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-book-btn {
    font-size: 40px;
    height: 80px;
    width: 80px;
    background-color: #20F06C;
    color: white;
    border-style: none;
    border-radius: 50%;
    position: fixed;
    top: 80vh;
    left: 80vw;
}
#new-book-btn:hover {
    cursor: pointer;
}

#new-book-btn:active {
    background-color: #23BE5B;
}

.book-card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.book-card {
    background-color: #FFFBFB;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
}

.remove-button {
    font-size: 20px;
    font-weight: 600;
    background-color: #F0F0F0;
    border-style: none;
    border-radius: 10px;
    height: 45px;
    width: 60%;
    transition: filter 0.15s ease-in-out;
}

.remove-button:hover, .read-button:hover {
    cursor: pointer;
    filter: brightness(90%)
}

.is-read {
    display: flex;
    flex-direction: column;
}

.read-button {
    font-size: 20px;
    font-weight: 600;
    border-style: none;
    border-radius: 10px;
    height: 45px;
    width: 60%;
    margin-bottom: 5px;
    transition: filter 0.15s ease-in-out;
}

.read-button.green {
    background-color: #9FFF9C
}

.read-button.red {
    background-color: #FF9C9C
}